{% extends 'admin/base.html' %}
{% load i18n static %}
    {% block title %} {{ title_site }} {% endblock %}

{% block content %}

<style>
    .font-size-20{
        font-size:18px;
    }

    
</style>

<div class="card wr-20 mx-auto mb-5 border-0" style="left:109px;">
    {% if form.errors %}
        {% for error in messages %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
    {% endfor %}
{% endif %}


    <div class="card-body border-0 shadow">

        <table class="table border-0">
            
            <tbody>
                <form method="POST" action="{% url 'send_mail_consultant_quote_URL' client.id  consultant_request.id %}">
                    {% csrf_token %}
              <tr>
                  <td>
                      Client 
                  </td>
                  <td>
                    {{ client.Name }} 
                </td>
              </tr>
              <tr>
                <td>
                    Consultant 
                </td>
                <td>
                  {{ form.consultant }}
              </td>
            </tr>
            <tr>
                <td>
                    Explanation 
                </td>
                <td>
                  {{ consultant_request.explanation }} 
              </td>
            </tr>
            <tr>
                <td>
                   Quote  Price 
                </td>
                <td>
                  {{ form.price }} 
              </td>
            </tr>
            <tr>
                <td>
                   Client Paid Amount 
                </td>
                <td>
                  {{ consultant_request.client_paid }} 
              </td>
            </tr>
            <tr>
                <td>
                   Client Paid Amount Status 
                </td>
                <td>
                  {{ form.client_paid_all_amount }} 
              </td>
            </tr>
            <tr>
                <td>
                    Status 
                </td>
                <td>
                  {{ consultant_request.status }} 
              </td>
            </tr>
            <tr>
                <td>
                    Created Timestamp 
                </td>
                <td>
                  {{ consultant_request.created_timestamp|timesince }} 
              </td>
            </tr>
            {% if request.user.is_superuser %}
            <tr>
                
                <td colspan="2">
                    {% if consultant_request.status == "New" %}
                        <button type="submit" class="btn btn-primary">Save & Send</button>
                        <a href="{% url 'confirm_mail_consultant_quote_URL' client.id consultant_request.id %}" class="btn btn-primary">Confirm</a>
                        <a href="{% url 'reject_mail_consultant_quote_URL' client.id consultant_request.id %}" class="btn btn-primary">Reject</a>
                        <a href="{% url 'close_mail_consultant_quote_URL' client.id consultant_request.id %}" class="btn btn-primary">Close</a>
                        
                    {% elif consultant_request.status == "Pending" or consultant_request.status == "Close" or consultant_request.status == "Confirmed" or consultant_request.status == "Completed"  %}
                    <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url  'send_mail_consultant_quote_URL' client.id consultant_request.id  %}" type="submit" class="btn btn-primary">Resend</a>
                        <a href="{% url 'confirm_mail_consultant_quote_URL' client.id consultant_request.id %}" class="btn btn-primary">Confirm</a>
                        <a href="{% url 'reject_mail_consultant_quote_URL' client.id consultant_request.id %}" class="btn btn-primary">Reject</a>
                        <a href="{% url 'close_mail_consultant_quote_URL' client.id consultant_request.id %}" class="btn btn-primary">Close</a>
                        <a href="{% url 'complete_mail_consultant_quote_URL' client.id consultant_request.id %}" class="btn btn-primary">Completed</a>
                    
                        {% elif consultant_request.status == "Rejected" %}
                        <button type="submit" class="btn btn-primary">Update</button>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Change the status in order to email accordingly
                      </small>
                      {% endif %}
            </td>
            </tr>
            {% endif %}
            <tr>
                <tr>
                    <td>
                        Updated Timestamp 
                    </td>
                    <td>
                      {{ consultant_request.update_timestamp|timesince }} 
                  </td>
                </tr>

            </tr>
            <tr >
                <td colspan="2">
                    Feed Back File
                </td>

            </tr>
        </form>
        
        <tr >
            
                <td colspan="2">
                    {% if consultant_request.feedbackFile %}
                        <a href="/media/{{ consultant_request.feedbackFile }}">{{ consultant_request.feedbackFile }}</a> 
                    {% else %}
                <form action="{% url 'send-file' client.id consultant_request.id %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                          
                        {{ form_2.feedbackFile }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                      
                    {% endif %}
                </td>
            </tr>
            </tbody>
            
          </table>
        
    </div>

    </div>

   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function()
        {
            // console.log("asjdnaksjdnkajsda");
            $(document).on("click", "#customCheck1", function()
            {
                // console.log($("#customCheck1").prop("checked"));
                if($("#customCheck1").prop("checked")){
                    $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
                }
                else{
                    $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
                }
            });
        });
    </script>

{% endblock %}